body, pre {
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
}

#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#content {
  flex: 1;
}

h1 {
  font-family: "Open Sans";
  padding: 0.75em 1em;
  font-size: 2em;
  margin: 0;
}

#requests {
  margin: 1em;
  float: left;
}

.request .metadata {
  font-size: 0.8em;
  margin: 1em 0;
}

#requests .request pre {
  max-width: 600px;
  overflow-x: auto;
}

div#no-requests {
  padding: 100px;
  text-align: center;
}
div#no-requests .message {
  font-size: 2.3em;
}
div#no-requests .try-it {
  margin-top: 100px;
}
div#no-requests .code {
  background: #333;
  color: #FFF;
  border-radius: 0.25em;
  padding: 0.5em;
  font-family: monospace;
}

h2 {
  font-family: "Open Sans";
  margin: 0;
  font-size: 1.5em;
}
#selector {
  margin: 1em;
  float: left;
}
#selector .snippet {
    padding: 0.5em;
    cursor: pointer;
    min-width: 300px;
}
#selector .selected {
  background: rgba(74, 250, 3, 0.06);
}
.snippet .timestamp, .snippet .remoteaddr {
  font-size: 0.8em;
  opacity: .8;
}

#referral {
  text-align: center;
  font-family: "Open Sans";
  padding: 0.75em 1em;
  font-size: 0.75em;
  margin: 2em 0;
}
#referral a {
  color: inherit;
  opacity: .9;
  text-decoration: none;
}
#referral a:hover strong  {
  color: #0069FF;
}

.clear { clear: both; }
