body, pre {
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
}

h1 {
  color: #000;
  font-family: "Open Sans";
  padding: 0.75em 1em;
  font-size: 2em;
}

#requests {
  margin: 1em;
  float: left;
}

.request .metadata {
  font-size: 0.8em;
  margin: 1em 0;
}

div#no-requests {
  padding: 100px;
  text-align: center;
}
div#no-requests .message {
  font-size: 47pt;
}
div#no-requests .try-it {
  margin-top: 100px;
}
div#no-requests .code {
  background: #333;
  color: #FFF;
  border-radius: 0.25em;
  padding: 0.5em;
  font-family: monospace;
}

h2 {
  color: #000;
  font-family: "Open Sans";
  margin: 0;
  font-size: 1.5em;
}
#selector {
  margin: 1em;
  float: left;
}
#selector .snippet {
    padding: 0.5em;
    cursor: pointer;
    min-width: 300px;
}
#selector .selected {
    background: #fafff8;
}
.snippet .timestamp, .snippet .remoteaddr {
  font-size: 0.8em;
  color: #333;
}
