body, pre {
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
}

#page {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#content {
  padding-bottom: 2.5rem;
}

h1 {
  color: #000;
  font-family: "Open Sans";
  padding: 0.75em 1em;
  font-size: 2em;
}

#requests {
  margin: 1em;
  float: left;
}

.request .metadata {
  font-size: 0.8em;
  margin: 1em 0;
}

#requests .request pre {
  max-width: 600px;
  overflow-x: auto;
}

div#no-requests {
  padding: 100px;
  text-align: center;
}
div#no-requests .message {
  font-size: 47pt;
}
div#no-requests .try-it {
  margin-top: 100px;
}
div#no-requests .code {
  background: #333;
  color: #FFF;
  border-radius: 0.25em;
  padding: 0.5em;
  font-family: monospace;
}

h2 {
  color: #000;
  font-family: "Open Sans";
  margin: 0;
  font-size: 1.5em;
}
#selector {
  margin: 1em;
  float: left;
}
#selector .snippet {
    padding: 0.5em;
    cursor: pointer;
    min-width: 300px;
}
#selector .selected {
    background: #eff9eb;
}
.snippet .timestamp, .snippet .remoteaddr {
  font-size: 0.8em;
  color: #333;
}

#referral {
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  padding: 0.75em 1em;
  font-size: 0.6em;
  margin-top: 2em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
#referral a {
  color: #111;
  text-decoration: none;
}
#referral a:hover strong  {
  color: #0069FF;
}

.clear { clear: both; }
