<html>
<head>
    <title>webhooks catcher</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/global.css" />
    <script type="text/javascript" src="/static/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/catcher.js"></script>
</head>
<body>
        <div id="content">
          <h1>Webhooks Catcher</h1>

          <div id="no-requests">
            No requests have been received yet. :(
          </div>

          <table id="caught-requests">
            <tr class="heading">
              <th>Method</th>
              <th>Path</th>
              <th>Time</th>
              <th>Body</th>
              <th></th>
            </tr>

          </table>
        </div>
</body>
